
<ul>
  {{#each record}}
  <li>
    {{this.name}}、{{this.date}}、{{this.amount}}、{{this.userId}}、{{this.categoryId}}
    <a href="/record/{{this._id}}/edit">edit</a>
    <form action="/record/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>